__pycache__/BulletPointProcessor.cpython-38.pyc
__pycache__/DateSorter.cpython-38.pyc
__pycache__/FirstPersonalSentiment.cpython-38.pyc
__pycache__/ListScore.cpython-38.pyc
__pycache__/InvisibleTextFilter.cpython-38.pyc
__pycache__/ScoringSystem.cpython-38.pyc
__pycache__/Spellchecker.cpython-38.pyc
__pycache__/TextProcessor.cpython-38.pyc
__pycache__/WordMatching.cpython-38.pyc
__pycache__/WordProcessor.cpython-38.pyc
