/* -------------------------------- */
/*BASIC SETUP*/
/* -------------------------------- */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row {
  max-width: 100%;
  margin: 0 auto 0 auto;
}

section {
  padding: 70px 0;
  height: 100vh;
}

/* -------------------------------- */
/*PREVIEW*/
/* -------------------------------- */
.preview {
  text-align: center;
  margin-top: 100px;
}

/* -------------------------------- */
/*SLOGAN - BANNER*/
/* -------------------------------- */

.banner {
  color: white;
  
  background: -webkit-gradient(
      linear,
      right top,
      left top,
      from(rgba(55, 0, 255, 0.5)),
      to(rgba(4, 0, 250, 0.158))
    )
    no-repeat;
  background-size: 100% 100%;
}

.banner-slogan {
  width: 100%;
  display: inline-block;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 50px; 
}

.slogan {
  padding-top: 90px;
  padding-left: 10%;
  float: left;
  width: 50%;
}

.slogan h1 {
  font: simplifica;
  font-weight: bold;
}

.img-preview {
  float: left;
  width: 50%;
  overflow: hidden;
}


/* -------------------------------- */
/*UPLOAD FORM*/
/* -------------------------------- */

.main {
  width: 100%;
  margin: 0 auto;
  padding-left: 100px;
  min-height: calc(100vh - 93.69px - 121.8px);
  padding-top: 100px;
  padding-bottom: 100px;
}

.instruction {
  padding-top:40px;
  padding-left:40px;
  float: left;
  width: 60%;
  color: white;
  border: 2px dashed white;
  border-radius: 5%;
  font-weight: bold;
}

.instruction h1{
  margin: 0 auto;
  text-align:center;
  font-weight: bold;
}

.ins-step div {
  color: black;
  border: 2px solid white;
  background: white;
  display: inline-block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 100%;
  margin-right: 25px;
}

.ins-step p {
  font-size: 100%;
  margin-right: 25px;
}

#uploadForm {
  padding-left: 30%;
  padding-top: 10px;
  width: 100%;
}

.input {
  margin-top: 20px;
  margin-bottom: 2%;
  width: 100%;
  margin-left: 5%;
  
}

.form-select {
  width: 70%;
  margin-bottom: 20px;
}

.form-radio {
  margin-right: 5px;
  
}
/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-4 {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-4 .card-body {
  padding: 57px 65px;
  padding-bottom: 65px;
}

@media (max-width: 767px) {
  .card-4 .card-body {
    padding: 50px 40px;
  }
}

.upload {
  margin-left: 5%;
  position: relative;
  width: 45%;
  min-height: 550px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  background: #fff;
  -webkit-animation: fadeup 0.5s 0.5s ease both;
  animation: fadeup 0.5s 0.5s ease both;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
  /* margin: auto; */
  float: left;
  height: 200px;
}
.upload .upload-files header {
  background: #5f6163; /*#4f6072*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
.upload .upload-files header p {
  color: lightgray; /*fff*/
  font-size: 40px;
  margin: 0;
  padding: 50px 0;
}
.upload .upload-files header p i {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
  font-size: 30px;
  -webkit-animation: fadeup 0.5s 1s ease both;
  animation: fadeup 0.5s 1s ease both;
}
.upload .upload-files header p .up {
  font-weight: bold;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  display: inline-block;
  opacity: 0;
  -webkit-animation: faderight 0.5s 1.5s ease both;
  animation: faderight 0.5s 1.5s ease both;
}
.upload .upload-files header p .load {
  display: inline-block;
  font-weight: 100;
  margin-left: -8px;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  opacity: 0;
  -webkit-animation: faderight 1s 1.5s ease both;
  animation: faderight 1s 1.5s ease both;
}
.upload .upload-files .body {
  text-align: center;
  padding: 20px 0;
  padding-bottom: 30px;
}
.upload .upload-files .body.hidden {
  display: none;
}
.upload .upload-files .body input {
  visibility: hidden;
}
.upload .upload-files .body i {
  font-size: 65px;
  color: lightgray;
}
.upload .upload-files .body p {
  font-size: 14px;
  padding-top: 15px;
  line-height: 1.4;
}
.upload .upload-files .body p b,
.upload .upload-files .body p a {
  color: #4f6072;
}
.upload .upload-files .body.active {
  border: dashed 2px #4f6072;
}
.upload .upload-files .body.active i {
  box-shadow: 0 0 0 -3px #fff, 0 0 0 lightgray, 0 0 0 -3px #fff, 0 0 0 lightgray;
  -webkit-animation: file 0.5s ease both;
  animation: file 0.5s ease both;
}
@-webkit-keyframes file {
  50% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -8px 8px 0 -3px #fff,
      -8px 8px 0 lightgray;
  }
  75%,
  100% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray,
      -16px 16px 0 -3px #fff, -16px 16px 0 lightgray;
  }
}
@keyframes file {
  50% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -8px 8px 0 -3px #fff,
      -8px 8px 0 lightgray;
  }
  75%,
  100% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray,
      -16px 16px 0 -3px #fff, -16px 16px 0 lightgray;
  }
}
.upload .upload-files .body.active .pointer-none {
  pointer-events: none;
}
.upload .upload-files footer {
  width: 100%;
  margin: 0 auto;
  height: 0;
}
.upload .upload-files footer .divider {
  margin: 0 auto;
  width: 0;
  border-top: solid 4px #4f6072;
  text-align: center;
  overflow: hidden;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
.upload .upload-files footer .divider span {
  display: inline-block;
  -webkit-transform: translateY(-25px);
  transform: translateY(-25px);
  font-size: 12px;
  padding-top: 8px;
}
.upload .upload-files footer.hasFiles {
  height: auto;
}
.upload .upload-files footer.hasFiles .divider {
  width: 100%;
}
.upload .upload-files footer.hasFiles .divider span {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s 0.5s ease;
  transition: -webkit-transform 0.5s 0.5s ease;
  transition: transform 0.5s 0.5s ease;
  transition: transform 0.5s 0.5s ease, -webkit-transform 0.5s 0.5s ease;
}
.upload .upload-files footer .list-files {
  width: 320px;
  margin: 0 auto;
  margin-top: 15px;
  padding-left: 5px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 210px;
}
.upload .upload-files footer .list-files::-webkit-scrollbar-track {
  background-color: rgba(211, 211, 211, 0.25);
}
.upload .upload-files footer .list-files::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(211, 211, 211, 0.25);
}
.upload .upload-files footer .list-files::-webkit-scrollbar-thumb {
  background-color: #4f6072;
}
.upload .upload-files footer .list-files .file {
  width: 300px;
  min-height: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  opacity: 0;
  -webkit-animation: fade 0.35s ease both;
  animation: fade 0.35s ease both;
}
.upload .upload-files footer .list-files .file .name {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80px;
  text-align: left;
}
.upload .upload-files footer .list-files .file .progress {
  width: 175px;
  height: 5px;
  border: solid 1px lightgray;
  border-radius: 2px;
  background: -webkit-gradient(
      linear,
      right top,
      left top,
      from(rgba(77, 182, 172, 0.2)),
      to(rgba(77, 182, 172, 0.8))
    )
    no-repeat;
  background: linear-gradient(
      to left,
      rgba(77, 182, 172, 0.2),
      rgba(77, 182, 172, 0.8)
    )
    no-repeat;
  background-size: 100% 100%;
}
.upload .upload-files footer .list-files .file .progress.active {
  -webkit-animation: progress 30s linear;
  animation: progress 30s linear;
}
@-webkit-keyframes progress {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
@keyframes progress {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
.upload .upload-files footer .list-files .file .done {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #4db6ac;
  border-radius: 50%;
  margin-left: -10px;
  -webkit-transform: scale(0);
  transform: scale(0);
  position: relative;
}
.upload .upload-files footer .list-files .file .done:before {
  content: "View";
  position: absolute;
  top: 0;
  left: -5px;
  font-size: 24px;
  opacity: 0;
}
.upload .upload-files footer .list-files .file .done:hover:before {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  top: -30px;
  opacity: 1;
}
.upload .upload-files footer .list-files .file .done.anim {
  -webkit-animation: done1 0.5s ease forwards;
  animation: done1 0.5s ease forwards;
}
.upload .upload-files footer .list-files .file .done.anim #path {
  -webkit-animation: done2 2.5s 0.5s ease forwards;
  animation: done2 2.5s 0.5s ease forwards;
}
.upload .upload-files footer .list-files .file .done #path {
  stroke-dashoffset: 7387.59423828125;
  stroke-dasharray: 7387.59423828125 7387.59423828125;
  stroke: #fff;
  fill: transparent;
  stroke-width: 50px;
}
@-webkit-keyframes done2 {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes done2 {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes done1 {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
}
@keyframes done1 {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
}
.upload .upload-files footer .importer {
  outline: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  border: solid 3px #176baf;
  background: #176baf;
  color: #fff;
  /* color: #176baf; */
  /* background: transparent; */
  padding: 8px 15px;
  font-size: 12px;
  border-radius: 4px;
  font-family: Roboto;
  line-height: 1;
  cursor: pointer;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  opacity: 0;
  visibility: hidden;
  margin-left: calc(50% - 120px);
  font-weight: bold;
}
.upload .upload-files footer .importer.active {
  -webkit-transition: opacity 0.5s 1.5s ease, background,
    -webkit-transform 0.5s 1.5s ease;
  transition: opacity 0.5s 1.5s ease, background,
    -webkit-transform 0.5s 1.5s ease;
  transition: transform 0.5s 1.5s ease, opacity 0.5s 1.5s ease, background;
  transition: transform 0.5s 1.5s ease, opacity 0.5s 1.5s ease, background,
    -webkit-transform 0.5s 1.5s ease;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.upload .upload-files footer .importer:hover {
  background: #0d314e;
  color: #fff;
  border: solid 3px #0d314e;
}

.upload .upload-files footer .cancel {
  outline: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  border: solid 3px #697271;
  color: #313636;
  background: transparent;
  padding: 8px 15px;
  font-size: 12px;
  border-radius: 4px;
  font-family: Roboto;
  line-height: 1;
  cursor: pointer;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  opacity: 0;
  visibility: hidden;
  margin-left: calc(60% - 20px);
}

.upload .upload-files footer .cancel.active {
  -webkit-transition: opacity 0.5s 1.5s ease, background,
    -webkit-transform 0.5s 1.5s ease;
  transition: opacity 0.5s 1.5s ease, background,
    -webkit-transform 0.5s 1.5s ease;
  transition: transform 0.5s 1.5s ease, opacity 0.5s 1.5s ease, background;
  transition: transform 0.5s 1.5s ease, opacity 0.5s 1.5s ease, background,
    -webkit-transform 0.5s 1.5s ease;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.upload .upload-files footer .cancel:hover {
  background: #697271;
  color: #ffffff;
}

/* -------------------------------- */
/*ABOUT*/
/* -------------------------------- */
#about {
  width: 100%;
  background-color: white;
  height: 140vh;
  text-align: center;
  position: relative;
}

#about p{
  font-size: larger;
}

#about .column {
  float: left;
  width: 33.33%;
  vertical-align: middle;
  padding-left: 10%;
  padding-top: 5%;
}

#about .column .card img{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#about h2 {
  font-weight: bold;
  padding-left: 30px;
}

.card-img-top {
  padding-top: 10px;
}

/* -------------------------------- */
/*HEADER*/
/* -------------------------------- */

#header {
  width: 100%;
  height: 10%;
  padding: 20px 20px;
  position: relative;
  color: white;
  background-color: #001f3f;
}

#header h2 {
  font-size: xx-large;
  font-weight: bold;
  font: cambria;
  float: left;
}

.main-nav {
  float: right;
  
}

.main-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.main-nav ul li{
  display: inline-block;
  padding: 0px 20px;
  margin-top: 5px;
}

.main-nav ul li a:link, .main-nav ul li a:visited {
  color: white;
  font-size: 120%;
}

/* -------------------------------- */
/*FOOTER*/
/* -------------------------------- */

#footer {
  background-color: #001f3f;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 13%;
  text-align: center;
  position: relative;
  color: white;
}

#footer p {
  margin: auto;
  padding: 15px 0;
}

#footer a {
  color: white;
}

/* -------------------------------- */
/*MISCELLANEOUS*/
/* -------------------------------- */

@-webkit-keyframes fadeup {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeup {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes faderight {
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes faderight {
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  to {
    opacity: 1;
  }
}
@keyframes fade {
  to {
    opacity: 1;
  }
}

@media (max-width: 400px) {
  .upload, .instruction {
    width: 100%;
    height: 100%;
  }
}

