{% extends 'base.html' %} 
{% block title %}Upload{% endblock %}
{% block header%}<h2>CV TEXT ANALYZER</h2>{% endblock %}
{% block content%}
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="main">
  <form action="api/result" method="POST" id="uploadForm" enctype="multipart/form-data">
    <div class="upload">
      <div class="upload-files">
        <header>
          <p>
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <span class="up">up</span>
            <span class="load">load</span>
          </p>
        </header>
        <div class="body" id="drop">
          <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i>
          <p class="pointer-none">
            <b>Drag and drop</b> files here <br />
            or <a href="" id="triggerFile"><u>browse</a></u></a> to begin the upload
          </p>
          <input type="file" accept=".pdf" name="cvfile" multiple="multiple" />
        </div>
        <footer>
          <div class="divider">
            <span><AR>FILES</AR></span>
          </div>
          <div class="list-files">
            <!--   template   -->
          </div>
          <button class="importer" type="submit">UPLOAD</button>
          <button class="cancel" type="reset">CANCEL</button>
        </footer>
      </div>
    </div>
  </form>
</div>
<script src="{{url_for('static', filename='js/service-worker.js')}}"></script>
<script src="{{url_for('static', filename='js/upload.js')}}"></script>

{% endblock %} 
{% block footer %}
<p>&copy; 2020 by <a href="http://domain.invalid/">SEPA Team 12.</a></p>
<a href="https://www.facebook.com" class="fa fa-facebook px-3"></a>
<a href="https://www.linkedin.com" class="fa fa-linkedin px-3"></a>
<a href="https://www.twitter.com" class="fa fa-twitter px-3"></a>
<a href="https://www.instagram.com" class="fa fa-instagram px-3"></a>
{% endblock %}
