{% extends 'base.html' %} 
{% block title %}Upload{% endblock %}
{% block header%}
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<h2><img src="{{url_for('static', filename='logo/logo-64.png')}}" alt=""/> CV TEXT ANALYZER</h2>
<nav class="main-nav">
  <ul>
    <li>
      <a href="#banner">Home</a>
    </li>
    <li>
      <a href="#about">About</a>
    </li>
  </ul>
</nav>
{% endblock %}
{% block content%}
<section class="banner">
  <div class="row">
    <div class="banner-slogan">
      <div class="slogan">
        <h1>Good Bye Bad CV.
          <br>
          Improve Your Chances.
        </h1>
        <p>Designed by top recruiters, our AI-powered platform instantly gives you tailored feedback on your resume.
          Land 5x more interviews, opportunities and job offers.</p>
        <a class="btn btn-success" href="#upload-form">Get started</a>
        <a class="btn btn-secondary" href="#about"> About us </a>
      </div>
      <div class="img-preview">
        <img src="{{url_for('static', filename='css/assets/images/preview.png')}}" alt="" height="450"/>
      </div>
    </div>
  </div>
</section>
<section class="main" id="upload-form">
  <div class="instruction">
    <h1>HOW TO USE</h1>
    <br>
    <div class="ins-step">
      <div>1</div>
      <p>Click 'Browse' or drag and drop your resume to the form.</p>
    </div>
    <br>
    <div class="ins-step">
      <div>2</div>
      <p>Select your resume, waiting for the uploading progress.</p>
    </div>
    <br>
    <div class="ins-step">
      <div>3</div>
      <p>Press 'Upload' after that to submit and have the resume processed.</p>
    </div>
    <br>
    <p>*Notes: To ensure we analyse your CV precisely and yield the correct recommendations, 
      please make sure that your resume meets some following guidelines:</p>
    <ul>
      <li>
        is in PDF
      </li>
      <li>
        is in English
      </li>
      <li>
        is a resume and not any other filename
      </li>
      <li>
        is not protected by password
      </li>
    </ul>
  </div>
  <form action="api/result" method="POST" id="uploadForm" enctype="multipart/form-data">

    <div class="upload">
      <div class="upload-files">
        <header>
          <p>
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <span class="up">up</span>
            <span class="load">load</span>
          </p>
        </header>

        <div class="input">
                        
          <div class="form-select">
            <label for="job_type">Type of Industry</label>
            <select class="form-control" name="job_type">
              <option value="accounting_keywords.json"> Accounting and Finance</option>
              <option value="creative_keywords.json">Design and Cultural</option>
              <option value="engineering_keywords.json">Engineering and Scientific</option>
              <option value="education_keywords.json">Education and Learning</option>
              <option value="healthcare_keywords.json">Healthcare and Human Services</option>                              
              <option value="hospitality_keywords.json">Food Service and Hospitality</option>
              <option value="hr_keywords.json">Human Resources</option>
              <option value="it_keywords.json">IT (Information Technology)</option>
              <option value="law_keywords.josn">Law Enforcement</option>
              <option value="legal_keywords.json">Legal Advocacy</option>
              <option value="logistics_keywords.json">Logistics and Purchasing</option>
              <option value="maintenance_keywords.json">Maintenance and Repair</option>
              <option value="management_keywords.json">Management</option>
              <option value="manufacturing_keywords.json">Industrial Manufacturing and Warehousing</option>
              <option value="nonprofit_keywords.json">NGO and Non-Profit</option>
              <option value="officeadmin_keywords.json">Office and Administrative</option>
              <option value="publicrelations_keywords.json">Public Relations</option>
              <option value="realestate_keywords.json">Real Estate and Construction</option>
              <option value="retail_keywords.json">Retail and Customer Service</option>
              <option value="sales_keywords.json">Sales and Marketing</option>
              <option value="travel_keywords.json">Travel and Transportation</option>
            </select>
          </div>

          <label style="padding-right: 5px">Choose user type: </label>
            <label for="applicant"> Applicant</label>
            <input type="radio" name="user_type" value="applicant" id="applicant" checked="true" class="form-radio"/>

            <label for="admin"> Admin</label>
            <input type="radio" name="user_type" value="admin" id="admin" id="admin" class="form-radio"/>

        </div>
        <hr style="width:80%"/>
        <div class="body" id="drop">
          <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i>
          <p class="pointer-none">
            <strong>Drag and drop</strong> files here <br />
            or <a href="" id="triggerFile"><u>browse</a></u></a> to begin the upload
          </p>
          <input type="file" accept=".pdf" name="cvfile" multiple="multiple" />
        </div>
        <footer>
          <div class="divider">
            <span><AR>FILES</AR></span>
          </div>
          <div class="list-files">
            <!--   template   -->
          </div>
          <button class="importer" type="submit">UPLOAD</button>
          <button class="cancel" type="reset">CANCEL</button>
        </footer>
      </div>
    </div>
  </form>
</section>
<section id="about">
  <h1><strong>Meet the team</strong></h1>
  <div class="row">
    <div class="column">
      <div class="card" style="width: 18rem;">
        <img src="{{url_for('static', filename='css/assets/images/andy.png')}}" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-text"><strong>Nguyen The Anh Dinh</strong></p>
          <p class="card-text">Backend Developer</p>
          <p class="social-network social-circle">
            <a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 18rem;">
        <img src="{{url_for('static', filename='css/assets/images/chee.png')}}" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-text"><strong>Chee Yao Cheah</strong></p>
          <p class="card-text">Frontend Developer</p>
          <p class="social-network social-circle">
            <a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 18rem;">
        <img src="{{url_for('static', filename='css/assets/images/matthew.png')}}" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-text"><strong>Matthew Siliwan</strong></p>
          <p class="card-text">Backend Developer</p>
          <p class="social-network social-circle">
            <a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="column">
      <div class="card" style="width: 18rem;">
        <img src="{{url_for('static', filename='css/assets/images/jun.png')}}" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-text"><strong>Jun Yan Low</strong></p>
          <p class="card-text">Backend Developer</p>
          <p class="social-network social-circle">
            <a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 18rem;">
        <img src="{{url_for('static', filename='css/assets/images/bich.png')}}" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-text"><strong>Le Ngoc Bich Nguyen</strong></p>
          <p class="card-text">Backend Developer</p>
          <p class="social-network social-circle">
            <a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 18rem;">
        <img src="{{url_for('static', filename='css/assets/images/callum.png')}}" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-text"><strong>Callum Hawke</strong></p>
          <p class="card-text">Frontend Developer</p>
          <p class="social-network social-circle">
            <a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="{{url_for('static', filename='js/service-worker.js')}}"></script>
<script src="{{url_for('static', filename='js/upload.js')}}"></script>
{% endblock %} 
{% block footer %}
  <p>&copy; 2020 by <a href="http://domain.invalid/">SEPA Team 12.</a></p>
  <a href="https://www.facebook.com" class="fa fa-facebook px-3"></a>
  <a href="https://www.linkedin.com" class="fa fa-linkedin px-3"></a>
  <a href="https://www.twitter.com" class="fa fa-twitter px-3"></a>
  <a href="https://www.instagram.com" class="fa fa-instagram px-3"></a>
{% endblock %}
